<template>
	<v-app dark>
		<v-main>
			<v-container>
				<nuxt />
			</v-container>
		</v-main>
		<v-footer dark padless>
			<v-card
				flat
				tile
				class="indigo lighten-1 white--text text-center"
				width="100%"
			>
				<v-card-text>
					<v-btn
						class="mx-4 white--text"
						icon
						href="https://www.facebook.com/urb4nfit"
					>
						<v-icon size="24px">mdi-facebook</v-icon>
					</v-btn>
					<v-btn
						class="mx-4 white--text"
						icon
						href="https://www.instagram.com/urb4nfit/"
					>
						<v-icon size="24px">mdi-instagram</v-icon>
					</v-btn>
					<v-btn
						class="mx-4 white--text"
						icon
						href="https://twitter.com/urb4nfit"
					>
						<v-icon size="24px">mdi-twitter</v-icon>
					</v-btn>
					<v-btn
						class="mx-4 white--text"
						icon
						href="https://gitlab.com/urbanfit/urbanfit"
					>
						<v-icon size="24px">mdi-gitlab</v-icon>
					</v-btn>
				</v-card-text>

				<v-card-text class="white--text pt-0">
					UrbanFit est une application réalisée dans le cadre de l'événement
					<a
						class="white--text"
						href="https://heig-vd.ch/campus/vie-sur-le-campus/manifestations/hack-ton-sport-2021"
						>Hack-ton-Sport</a
					>
					organisé par la
					<a class="white--text" href="https://heig-vd.ch/">HEIG-VD</a> du 26 au
					29 avril 2021.
				</v-card-text>

				<v-divider></v-divider>

				<v-card-text class="white--text">
					{{ new Date().getFullYear() }} — <strong>UrbanFit</strong>
				</v-card-text>
			</v-card>
		</v-footer>
	</v-app>
</template>

<script>
export default {
	data: () => ({
		icons: ['mdi-facebook', 'mdi-twitter', 'mdi-linkedin', 'mdi-instagram'],
	}),
};
</script>
