<template>
	<v-row justify="center" align="center">
		<v-col cols="12" sm="8" md="8" lg="8" xl="8">
			<div class="text-center mb-4">
				<logo />
				<div class="title mb-10">L'app qui vous fera ressortir.</div>
			</div>
			<div class="mb-10">
				<!--<v-img
					lazy-src="https://picsum.photos/1920/1080"
					max-height="3000"
					max-width="3000"
					src="https://picsum.photos/1920/1080"
				></v-img>-->
				<v-carousel height="auto" align="center" hide-delimiter-background>
					<v-carousel-item eager>
						<v-img eager src="cycle1.png" max-height="600" max-width="600" />
					</v-carousel-item>
					<v-carousel-item eager>
						<v-img eager src="cycle2.png" max-height="600" max-width="600" />
					</v-carousel-item>
					<v-carousel-item eager>
						<v-img eager src="cycle3.png" max-height="600" max-width="600" />
					</v-carousel-item>
					<v-carousel-item eager>
						<v-img eager src="cycle4.png" max-height="600" max-width="600" />
					</v-carousel-item>
				</v-carousel>
			</div>

			<div class="mb-10 text-justify">
				<strong>Urban<span class="indigo--text">Fit</span></strong> est une
				application qui a pour but de vous faire (re)sortir. Au travers d'un
				compte, vous avez la possibilité de découvrir de nouveaux lieux où
				exercer une activité physique. En réalisant les défis indiqués aux
				différents lieux, vous cumulez des points dans l'application
				<strong>Urban<span class="indigo--text">Fit</span></strong
				>. Comparez et partagez vos résultats avec les autres membres de la
				communauté. Créez ou rejoignez des événements et invitez d'autres
				sportifs à pratiquer ensemble une activité. Rencontrez de nouveaux
				partenaires qui partagent les mêmes ambitions que vous. Vos points vous
				permettent de suivre votre progression tout au long de vos efforts. Un
				lieu que vous appréciez n'est pas sur la carte ? Ajoutez-le et découvrez
				ceux des autres membres de
				<strong>Urban<span class="indigo--text">Fit</span></strong
				>.
			</div>

			<div class="mb-16 text-center">
				<div class="mb-2">
					<iframe
						width="100%"
						height="450"
						src="https://www.youtube.com/embed/y-jeU1uy6IU"
						title="YouTube video player"
						frameborder="0"
						allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
						allowfullscreen
					></iframe>
				</div>
				<div class="mb-2">
					<iframe
						style="border: 1px solid rgba(0, 0, 0, 0.1)"
						width="100%"
						height="450"
						src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FOO3oTsjQlKUQgrsoQcC39M%2FMobile-version%3Fnode-id%3D0%253A1"
						allowfullscreen
					></iframe>
				</div>
				<div>
					<iframe
						style="border: 1px solid rgba(0, 0, 0, 0.1)"
						width="100%"
						height="450"
						src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Fproto%2FOO3oTsjQlKUQgrsoQcC39M%2FMobile-version%3Fnode-id%3D1%253A4%26scaling%3Dscale-down%26page-id%3D0%253A1"
						allowfullscreen
					></iframe>
				</div>
			</div>

			<div class="mb-16 text-center">
				<v-btn
					depressed
					target="_blank"
					href="https://docs.google.com/presentation/d/1nQcRih8ytRHdESRw2UGF9Iyj-DpLLCp7NqWaOYNqdBg/edit?usp=sharing"
					>Voir la présentation finale !</v-btn
				>
			</div>

			<div class="mb-16">
				<div class="mb-2 text-justify">
					<strong>Urban<span class="indigo--text">Fit</span></strong> a été
					imaginé par trois étudiants de l'École d'Ingénierie et de Gestion du
					Canton de Vaud (HEIG-VD) dans le cadre de l'événement Hack-ton-Sport
					organisé par la HEIG-VD du 26 au 29 avril 2021.
				</div>
				<v-container fluid class="text-center">
					<v-row justify="space-around">
						<v-col cols="4">
							<a href="https://www.linkedin.com/in/elodie-lagier">
								<v-img
									eager
									max-height="200"
									contain
									src="elodie.png"
									class="mb-2"
								></v-img
							></a>
							<div class="h6 mb-1">Elodie Lagier</div>
						</v-col>
						<v-col cols="4">
							<a href="https://www.linkedin.com/in/ludelafo">
								<v-img
									eager
									max-height="200"
									contain
									src="ludovic.jpeg"
									class="mb-2"
								></v-img>
							</a>
							<div class="h6 mb-1">Ludovic Delafontaine</div>
						</v-col>
						<v-col cols="4">
							<a href="hhttps://www.linkedin.com/in/bessaad-chiheb-43650b128/">
								<v-img
									eager
									max-height="200"
									contain
									src="romdhane.jpeg"
									class="mb-2"
								></v-img>
							</a>
							<div class="h6 mb-1">Chiheb Romdhane Bessaad</div>
						</v-col>
					</v-row>
				</v-container>
			</div>

			<div class="mb-10">
				<div class="mb-2">
					<strong>Urban<span class="indigo--text">Fit</span></strong> a lieu
					grâce aux partenaires suivants
				</div>
				<v-container fluid class="text-center">
					<v-row justify="space-around">
						<v-col cols="6">
							<a href="https://www.sportiworld.com">
								<v-img
									eager
									max-height="100"
									contain
									src="https://www.sportiworld.com/assets/images/large-sporti.png"
									class="mb-2"
								></v-img
							></a>
							<div class="h6 mb-1">SPORTIWorld</div>
						</v-col>
						<v-col cols="6">
							<a href="https://heig-vd.ch">
								<v-img
									eager
									max-height="100"
									contain
									src="https://upload.wikimedia.org/wikipedia/commons/c/c7/HEIG-VD_Logo_96x29_RVB_ROUGE.png"
									class="mb-2"
								></v-img>
							</a>
							<div class="h6 mb-1">HEIG-VD</div>
						</v-col>
					</v-row>
				</v-container>
			</div>
		</v-col>
	</v-row>
</template>

<script>
import Logo from '~/components/Logo.vue';

export default {
	components: {
		Logo,
	},
};
</script>

<style>
.logo {
	height: 300px;
}
</style>
